@charset "utf-8";

body {
  width: auto;
  font-family: '昔々フォント', 'Arial Narrow', Arial, sans-serif;
}

.text {
  text-align: center;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p {
  font-size: 30px;
}

a {
  text-decoration: none;
}

.btn-push {
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 30px 30px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  background: #067ef5;
  border-radius: 30px;
  border-bottom: solid 5px #013b75;
}

.btn {
  padding-bottom: 30px;
}

.btn-push:hover {
  border-bottom: solid 2px #013b75;
  transform: translateY(5px);
}

.btn-box {
  margin-bottom: px;
}

.quizu-list {
  align-items: center;
  list-style: none;
  display: table;
  table-layout: fixed;
  width: 80%;
}

li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: left;
  font-size: 30px;
  padding: 0 0 30px 0;
}

input[type=checkbox] {
  transform: scale(3);
  margin: 0 30px 20px 0;
}

.btn-check {
  font-size: 20px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  max-width: 240px;
  padding: 30px 30px;
  color: #FFF;
  transition: 0.3s ease-in-out;
  font-weight: bold;
  background: #f50606;
  border-radius: 30px;
  border-bottom: solid 5px #750107;
}

.btn-check:hover {
  border-bottom: solid 2px #750107;
  transform: translateY(5px);
}

.select {
  font: 50%;
  padding: 20px 20px;
  border: solid 2px;
  width: 70%;
  align-items: center;
  margin: auto;
}

.quizu {
  font-size: 30px;
}

.q-title {
  font-size: 30px;
}

/*.hidden{
  display: none;
}*/

.toi-box {
  background-color: #eff3f8;
  text-align: center;
  margin: 10px 10px;
  padding: 20px 10px;
}

.toi-inner {
  width: 100%;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.result {
  font-size: 30px;
  font-weight: bold;
}

/* モーダルエリア */
.hide-area {
  display: none;
}

.hinto {
  font-style: none;
  font-size: 30px;
  padding: 20px 20px;
}

/* チコちゃんモーダル */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(169, 169, 169, 0.3);
  width: 100%;
  height: 100%;
  z-index: 10;
}

.modal-window {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -55%);
  width: 80%;
  height: 80%;
  border-radius: 20px;
  z-index: 11;
  padding: 20px;
}

/* カウントダウン*/

.topkadaih1 h1 {
  font: 100px;
  text-align: center;
  margin: 100px 0 100px 0;
}

.countdown-box {
  width: 30%;
  margin: auto;
}

.countdown {
  font-size: 30px;

}

.countdown-box-inner {
  margin: 0 0 40px 0;
  text-align: center;
  border: 4px solid #f50606;
  border-radius: 30px;
}

.fadeIn1 {
  animation-name: fadeInAnime;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeIn2 {
  animation-name: fadeInAnime;
  animation-duration: 15s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeIn3 {
  animation-name: fadeInAnime;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeIn4 {
  animation-name: fadeInAnime;
  animation-duration: 25s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.fadeIn5 {
  font-size: 30px;
  animation-name: fadeInAnime;
  animation-duration: 40s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/*チコ画像フェードアップ*/
/*.fadeUp {
  text-align: center;
  animation-name: fadeUpAnime;
  animation-duration: 20s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fadeUpAnime {
  from {
    opacity: 0;
    transform: translateY(100px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}  */

.output {
  size-adjust: 20%;
  padding: 0 0 40px 0;
}